.menu-utama-container {
  width: 104%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.menu-utama-menu-utama {
  width: 104%;
  height: 100px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.menu-utama-menu {
  top: 0px;
  left: 0px;
  width: 1280px;
  height: 900px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
.menu-utama-frame2 {
  top: 0px;
  left: 0px;
  width: 1100px;
  height: 600px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.menu-utama-group7 {
  top: 0px;
  left: 0px;
  width: 1921px;
  height: 3689px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
.menu-utama-frame1 {
  top: 0px;
  left: 0px;
  width: 1920px;
  height: 3689px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(30, 30, 30, 1);
}
.menu-utama-footer {
  top: 3577px;
  left: 0px;
  width: 1920px;
  height: 125px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(30, 30, 30, 1);
}
.menu-utama-text {
  top: 35px;
  left: 1509px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  text-align: center;
  line-height: normal;
}
.menu-utama-logo {
  top: 12px;
  left: 103px;
  width: 105px;
  height: 100px;
  position: absolute;
}
.menu-utama-readyjoin {
  top: 2875px;
  left: 0px;
  width: 1920px;
  height: 702px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.menu-utama-group12 {
  top: 0px;
  left: 0px;
  width: 1920px;
  height: 702px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.menu-utama-rectangle9 {
  top: 0px;
  left: 0px;
  width: 1920px;
  height: 702px;
  position: absolute;
}
.menu-utama-discordlogo {
  top: 295px;
  left: 761px;
  width: 60px;
  height: 60px;
  position: absolute;
}
.menu-utama-instagramlogo {
  top: 295px;
  left: 842px;
  width: 60px;
  height: 60px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.menu-utama-group {
  top: 0px;
  left: 0.0002604166802484542px;
  width: 59.99974060058594px;
  height: 59.99882507324219px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.menu-utama-vector {
  top: 0px;
  left: 0px;
  width: 60px;
  height: 60px;
  position: absolute;
}
.menu-utama-vector1 {
  top: 0px;
  left: 0px;
  width: 60px;
  height: 60px;
  position: absolute;
}
.menu-utama-vector2 {
  top: 0px;
  left: 0px;
  width: 60px;
  height: 60px;
  position: absolute;
}
.menu-utama-vector3 {
  top: 0px;
  left: 0px;
  width: 60px;
  height: 60px;
  position: absolute;
}
.menu-utama-vector4 {
  top: 7.703906059265137px;
  left: 7.702474594116211px;
  width: 45px;
  height: 45px;
  position: absolute;
}
.menu-utama-linkedinlogo {
  top: 295px;
  left: 923px;
  width: 60px;
  height: 60px;
  position: absolute;
}
.menu-utama-facebooklogo {
  top: 295px;
  left: 1004px;
  width: 60px;
  height: 60px;
  position: absolute;
}
.menu-utama-steamlogo {
  top: 295px;
  left: 1085px;
  width: 60px;
  height: 60px;
  position: absolute;
}
.menu-utama-text02 {
  top: 221px;
  left: 835px;
  color: rgba(241, 241, 241, 1);
  height: auto;
  position: absolute;
  text-align: center;
  line-height: normal;
}
.menu-utama-inspiration {
  top: 2373px;
  left: 121px;
  width: 1724px;
  height: 427px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.menu-utama-image1 {
  top: 97px;
  left: 1235.78759765625px;
  width: 488px;
  height: 330px;
  position: absolute;
  border-radius: 30px;
}
.menu-utama-rushai211 {
  top: 97px;
  left: 0px;
  width: 488px;
  height: 330px;
  position: absolute;
  border-radius: 30px;
}
.menu-utama-maxresdefault1 {
  top: 97px;
  left: 618.3098754882812px;
  width: 488px;
  height: 330px;
  position: absolute;
  border-radius: 30px;
}
.menu-utama-text04 {
  left: 709px;
  color: rgba(255, 255, 255, 1);
  width: 306px;
  height: auto;
  position: absolute;
  font-size: 40px;
  font-style: SemiBold;
  text-align: center;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.menu-utama-benefits {
  top: 1596px;
  left: 0px;
  width: 1920.0164794921875px;
  height: 702px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.menu-utama-rectangle8 {
  top: 0px;
  left: 0px;
  width: 1920px;
  height: 702px;
  position: absolute;
}
.menu-utama-group8 {
  top: 297px;
  left: 140px;
  width: 640px;
  height: 48px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.menu-utama-text06 {
  color: rgba(15, 8, 0, 1);
  width: 640px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.menu-utama-group9 {
  top: 345px;
  left: 140px;
  width: 640px;
  height: 48px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.menu-utama-text08 {
  color: rgba(15, 8, 0, 1);
  width: 640px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.menu-utama-group10 {
  top: 393px;
  left: 140px;
  width: 640px;
  height: 48px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.menu-utama-text10 {
  color: rgba(15, 8, 0, 1);
  width: 640px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.menu-utama-group11 {
  top: 441px;
  left: 140px;
  width: 640px;
  height: 48px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.menu-utama-text12 {
  color: rgba(15, 8, 0, 1);
  width: 640px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.menu-utama-text14 {
  top: 212px;
  left: 140px;
  color: rgba(15, 8, 0, 1);
  height: auto;
  position: absolute;
  font-size: 40px;
  font-style: SemiBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.menu-utama-smartattractivepositiveasianbusinessmalewearinggla {
  top: 0px;
  left: 809px;
  width: 1111px;
  height: 702px;
  position: absolute;
}
.menu-utama-pengenalan-singkat {
  top: 710px;
  left: 107px;
  width: 1751px;
  height: 811px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.menu-utama-popular {
  top: 412px;
  left: 0px;
  width: 1751px;
  height: 399px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.menu-utama-group1 {
  top: 0px;
  left: 0px;
  width: 1751px;
  height: 399px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.menu-utama-card1 {
  top: 0px;
  left: 0px;
  width: 297px;
  height: 399px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.menu-utama-rectangle3 {
  top: 0px;
  left: 0px;
  width: 297px;
  height: 399px;
  position: absolute;
  border-radius: 10px;
}
.menu-utama-text16 {
  top: 18px;
  left: 20px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  text-align: left;
  line-height: normal;
}
.menu-utama-text18 {
  top: 26px;
  left: 20px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  text-align: left;
  line-height: normal;
}
.menu-utama-card2 {
  top: 0px;
  left: 371px;
  width: 297px;
  height: 399px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.menu-utama-rectangle31 {
  top: 0px;
  left: 0px;
  width: 297px;
  height: 399px;
  position: absolute;
  border-radius: 10px;
}
.menu-utama-text20 {
  top: 18px;
  left: 20px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  text-align: left;
  line-height: normal;
}
.menu-utama-text22 {
  top: 26px;
  left: 20px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  text-align: left;
  line-height: normal;
}
.menu-utama-card3 {
  top: 0px;
  left: 732px;
  width: 297px;
  height: 399px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.menu-utama-rectangle32 {
  top: 0px;
  left: 0px;
  width: 297px;
  height: 399px;
  position: absolute;
  border-radius: 10px;
}
.menu-utama-text24 {
  top: 18px;
  left: 20px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  text-align: left;
  line-height: normal;
}
.menu-utama-text26 {
  top: 26px;
  left: 20px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  text-align: left;
  line-height: normal;
}
.menu-utama-card4 {
  top: 0px;
  left: 1093px;
  width: 297px;
  height: 399px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.menu-utama-rectangle33 {
  top: 0px;
  left: 0px;
  width: 297px;
  height: 399px;
  position: absolute;
  border-radius: 10px;
}
.menu-utama-text28 {
  top: 18px;
  left: 20px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  text-align: left;
  line-height: normal;
}
.menu-utama-text30 {
  top: 26px;
  left: 20px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  text-align: left;
  line-height: normal;
}
.menu-utama-card5 {
  top: 0px;
  left: 1454px;
  width: 297px;
  height: 399px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.menu-utama-rectangle34 {
  top: 0px;
  left: 0px;
  width: 297px;
  height: 399px;
  position: absolute;
  border-radius: 10px;
}
.menu-utama-text32 {
  top: 18px;
  left: 20px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  text-align: left;
  line-height: normal;
}
.menu-utama-text34 {
  top: 26px;
  left: 20px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  text-align: left;
  line-height: normal;
}
.menu-utama-text36 {
  left: 705px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 50px;
  font-style: SemiBold;
  text-align: center;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.menu-utama-text38 {
  top: 122px;
  left: 112px;
  color: rgba(255, 255, 255, 1);
  width: 1527px;
  height: auto;
  position: absolute;
  text-align: left;
  line-height: normal;
}
.menu-utama-slider {
  top: 0px;
  left: 0px;
  width: 1920px;
  height: 635px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.menu-utama-whats-app-image20230625at01091 {
  top: 0px;
  left: 0px;
  width: 1920px;
  height: 635px;
  position: absolute;
}
.menu-utama-text40 {
  top: 329px;
  left: 802px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 50px;
  font-style: SemiBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.menu-utama-text41 {
  color: rgba(255, 255, 255, 1);
}
.menu-utama-text43 {
  top: 404px;
  left: 562px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  text-align: center;
  line-height: normal;
}
.menu-utama-navbar {
  top: 0px;
  left: 1px;
  width: 1920px;
  height: 125px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(30, 30, 30, 1);
}
.menu-utama-text45 {
  top: 35px;
  left: 1630px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  text-align: center;
  line-height: normal;
}
.menu-utama-text47 {
  top: 35px;
  left: 1441px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  text-align: center;
  line-height: normal;
}
.menu-utama-text49 {
  top: 35px;
  left: 1254px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  text-align: center;
  line-height: normal;
}
.menu-utama-logo1 {
  top: 12px;
  left: 103px;
  width: 105px;
  height: 100px;
  position: absolute;
}
